.alert-success, .alert-warning{
    position: fixed;
    z-index: 8;
    bottom: 16px;
    right: 16px;
}

.noto-success{
    p{
        background: #06ae75;
        position: fixed;
        bottom: 32px;
        z-index: 12;
        left: 50%;
        padding: 12px 36px;
        border-radius: 15px;
        color: #fff;
        opacity: 0;
        transition: all 0.5s ease;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -ms-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;

        &.active{
            bottom: 40px;
            opacity: 1;
        }
    }

}

//Text area in text editor
#isPasted{
    width: auto !important;
}
